.card {
    background-image: var(--cardBackgroundImage);
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "left right"
}

.card-no-image {
    background-image: var(--cardBackgroundNoImage);
    background-size: cover;
    height: 400px;
    width: 300px;
}

.card-left {
    grid-area: left;
    margin: 40px;
    display: flex;
    align-items: center;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));*/
    border-radius: 4px;
}

.card-right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.card.small {
    width: 400px;
    height: 225px;
    font-size: 0.5em
    /* Padding and margin */
}

.card.medium {
    width: 500px;
    height: 282px;
    font-size: 0.7em
}

.card.large {
    width: 800px;
    height: 450px;
    font-size: 1em
}

.card.extra-large {
    width: 800px;
    height: 450px;
    font-size: 1em
}

.card-image {
    height: 100%;
    width: 100%;
    background-image: var(--cardContentImage);
    background-size: 100%;
    background-repeat: no-repeat;
}

.card-img {
    margin: auto;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-image: var(--cardContentImage);
    background-size: 100%;
    background-repeat: no-repeat;
}

.card-text.header {
    text-shadow: 0 0 3px orange, 0 0 8px orange;
    width: 100%;
    position: relative;
    padding-bottom: 8px;
}

.card-text.header:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 96%;
    background-color: whitesmoke;
    left: 6px;
    bottom: 0;
    transform: skew(-45deg);
}

.card-text.body, .card-text.caption {
    text-align: start;
}

.card-text.body.small, .card-text.caption.small {
    padding: 12px;
    margin: 4px;
}

.card-text.body.medium, .card-text.caption.medium {
    padding: 16px;
    margin: 4px;
}

.card-text.body.large, .card-text.caption.large {
    padding: 8px;
}

.card-text.body.extra-large, .card-text.caption.extra-large {
    padding: 8px;
}

.card-text-caption {
    /*color: var(--primaryTextColor);*/
}

