.title-bar {
    width: 100%;
    height: var(--titleHeight);
    position: relative;
}

.title-bar > * {
    /*background-color: rgba(255, 255, 255, 0.08);*/
}

.toolbar-content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.toolbar-content-left {
    height: 100%;
    width: 30%;
}

.toolbar-content-left.small {
    width: 50px
}

.toolbar-content-middle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    flex-grow: 1;
}

.name {
    margin: 0;
    position: relative;
}

.name::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: NameGlowRevert 0.5s ease-in-out both;
}
.name:hover::after {
    animation: NameGlow 0.1s ease-in-out both;
    height: 0;
}

@keyframes NameGlow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow:
                0 -10px 30px 10px rgba(255, 255, 255, 0.5),
                0 -15px 50px 5px rgba(255, 255, 255, 0.8);
    }
}

@keyframes NameGlowRevert {
    0% {
        box-shadow:
                0 -10px 30px 10px rgba(255, 255, 255, 0.5),
                0 -15px 50px 5px rgba(255, 255, 255, 0.8);
    }
    100% {
        box-shadow: none;

    }
}

.toolbar-content-spacer {
    height: 100%;
    width: 2%;
}

.toolbar-content-right {
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-content-right.small, .toolbar-styling-right.small {
    width: 140px
}

.toolbar-content-right > :not(:last-child) {
    margin-right: 4px;
}

.toolbar-styling {
    width: 100%;
    height: 20%;
    display: flex;
}

.toolbar-styling-left {
    height: 100%;
    width: 30%;
    border-top: 2px solid var(--primaryColor);
}
.toolbar-styling-left.small {
    height: 100%;
    width: 50px;
    border-top: 2px solid var(--primaryColor);
}
.toolbar-styling-middle {
    height: 100%;
    flex-grow: 1;
    border-top: 2px solid var(--primaryColor);
}
.toolbar-styling-spacer {
    height: 100%;
    width: 2%;
    background-image: var(--toolbarSpacer);
    background-size: 100% 100%;
}
.toolbar-styling-right {
    height: calc(100% - 2px);
    width: 28%;
    border-bottom: 2px solid var(--primaryColor);
}

.toolbar-icon {
    width: 38px;
    height: 38px;
    background-image: var(--toolbarIcon);
    position: relative;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-icon:hover {
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.toolbar-icon:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 1px;
    left: 1px;
}

.toolbar-icon:hover:after {
    box-shadow: 0 0 3px 3px white;
    offset-path: var(--buttonPath);
    animation: orbit 2s linear infinite;
}

@keyframes orbit {
    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
}

.toolbar-icon .MuiSvgIcon-root {

}

.MuiTooltip-tooltip {
    font-family: "Orbitron-Regular", serif;
    background-color: transparent;
}